﻿@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.CountryLibrary>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
<h1>Go to the backoffice</h1>